@import "./../../fonts/font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

html {
  background: #0a0611;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1e5799),
    color-stop(100%, #7db9e8)
  );
  background: -webkit-linear-gradient(top, #0a0611 0%, #2c4595 100%);
  background: -moz-linear-gradient(top, #0a0611 0%, #2c4595 100%);
  background: -ms-linear-gradient(top, #0a0611 0%, #2c4595 100%);
  background: -o-linear-gradient(top, #0a0611 0%, #2c4595 100%);
  background: linear-gradient(to bottom, #0a0611 0%, #2c4595 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A0611', endColorstr='#2C4595',GradientType=0 );
  background-attachment: fixed;

  --cloud-text-heading: Phosphate;
  --cloud-text-body: Roboto;
  --cta-button-font: Rockwen;
}

body {
  #full-moon {
    position: fixed;
    top: 3rem;
    right: 3rem;

    box-shadow: 0 0 50px gold, 0 0 150px gold;
    border-radius: 50%;
    &::before {
      content: "HELLO";
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: 1000;
      display: inline-block;
    }
  }

  #scroll-hand {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 50%;
    opacity: 1;

    transition: opacity 1s 0.2s ease-out;
  }

  .first-deck {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .curtain {
      position: fixed;
      top: -1rem;
      width: 100%;
      height: 100vh;
    }

    .top-curtain {
      z-index: 1;
      background-repeat: repeat-x;
      background-position: top center;
      background-image: url("./../../img/home/suffit-500.png");
    }

    .left-curtain {
      z-index: 2;
      background-repeat: no-repeat;
      background-position: top left;
      background-image: url("./../../img/home/drapperi.png");
      background-size: contain;
      left: -2rem;
    }

    .right-curtain {
      z-index: 3;
      background-repeat: no-repeat;
      background-position: top left;
      background-image: url("./../../img/home/drapperi.png");
      background-size: contain;
      right: -2rem;

      transform: scaleX(-1);
    }

    .logo-container {
      z-index: 100;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 35%;

      img {
        width: 55%;
        margin: 0 auto;
        display: block;
      }

      .punchline {
        line-height: 3.5vw;
        font-weight: 100;
        width: 100%;
        font-family: Phosphate;
        text-transform: uppercase;
        color: #fdcc00;
        font-size: 3vw;
      }
    }
  }

  .second-deck {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .cloud-container {
      position: absolute;
      display: inline-block;

      width: 80%;
      aspect-ratio: 16/10;
      
      ph-image-clipped {
        width: 85%;
        height: fit-content;
        margin-top: -10%;
        position: absolute;
        top: 20%;
        left: 7%;
        z-index: 10;
      }

      ph-text-cloud {
        width: 63%;
        height: fit-content;
        position: absolute;
        top: 43%;
        left: 37.3%;
        z-index: 11;
      }
    }
  }

  .third-deck {
    height: 100vh;
    background: green;
  }

  // animation classes
  .hide {
    opacity: 0 !important;
  }
  .show {
    opacity: 1 !important;
  }
}
