@import "./../../main.scss";

* {
  --compact-card-height: 15rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.parallax-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  .welcome-overlay {
    position: fixed;
    z-index: 100;
    width: 80%;
    height: 25rem;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);

    display: flex;
    justify-content: center;

    .text-1 {
      font-family: var(--general-font-face);
      text-transform: uppercase;
      font-style: italic;
      font-size: 7rem;
      font-weight: 900;

      margin-top: 2rem;
    }
  }

  .welcome-overlay-show {
    opacity: 1;
    transform: scale(1);
  }
}

.parallax-1,
.parallax-2,
.parallax-3,
.parallax-4,
.parallax-5 {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-5 {
  background-size: contain;
}
.parallax-1,
.parallax-2,
.parallax-3,
.parallax-4 {
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 0 2rem;
}

.logo {
  width: 25rem;
  margin: 3rem auto 7rem auto;
}

.quote-component-container {
  width: 55%;
  max-width: 675px;
  margin-bottom: var(--size-xxl);
}

.deck {
  width: 100%;
  min-height: 200px;
  background-color: #044648;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-m) 0;

  ph-testimonial-image-circle {
    --circle-diameter: 140px;
    --background-color: transparent;
    --font-family: var(--general-font-face);
    --font-color: var(--general-font-color);
    --heading-font-family: var(--general-font-face);

    width: 55%;
    max-width: 675px;
  }
}

.teaser-text {
  margin: var(--size-m) auto;
}

.teasers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  ph-compact-card {
    width: 24vw;
  }
}

.cta-section {
  margin-bottom: var(--size-l);
}

.main.deck-2 .logo {
  margin-bottom: 7rem;
}

.content {
  margin-bottom: 10vh;
}

.cta-workshops,
.cta-inmeld-form {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: teal;
}

// INDMELDELSE

.form-wrapper {
  position: relative;
  z-index: 0;
  max-width: 50%;
  min-width: 300px;
  padding: 50px 30px 50px 30px;
  margin: 50px auto;
  background-color: #3d595f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
  }
}

.form-wrapper::after {
  display: inline;
  white-space: pre-wrap;
  content: "SADLY... \A Formularen virker ikke endnu. \A Skriv i stedet kontakt info til info@maanemandens-penge.dk";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.form-group {
  position: relative;

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: var(--general-font-color);
  background-color: transparent;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
form {
  text-align: center;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  background-color: #3d595f;
  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

/* Extra large (desktop) */
@media only screen and (max-width: 1200px) {
}

/* Large (large laptop) */
@media only screen and (max-width: 992px) {
  .teasers ph-compact-card {
    width: 30vw;
  }
}

/* Medium (small laptop) */
@media only screen and (max-width: 768px) {
  ph-testimonial-image-circle,
  .quote-component-container {
    width: 75% !important;
    max-width: 100vw;
  }
  .parallax-2 {
    background-position-x: right !important;
  }
}

/* Extra small (mobile) */
@media only screen and (max-width: 552px) {
  ph-testimonial-image-circle,
  .quote-component-container {
    width: 90% !important;
    max-width: 100wv;
  }
  .content {
    margin-bottom: var(--size-l);
  }
  .teasers {
    flex-direction: column;
    align-items: center;

    ph-compact-card {
      width: 100% !important;
      margin: 2rem auto;
    }
  }
  .form-wrapper::after {
    font-size: 2rem;
  }
  .parallax-2 {
    // centrerer pigen th
    background-position-x: 94% !important;
  }
  .parallax-4 {
    // centrerer zeo
    background-position-x: 85% !important;
  }
  .cta {
    margin-bottom: 6rem;
  }
}
