@import "./../../main.scss";

.main {
  padding: 0 var(--size-m);
}
.content p {
  margin-bottom: var(--size-s);
}
.component-container-ark,
.component-container-figurer,
.component-container-proscenier {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  ph-shop-item {
    width: 30%;
  }
}

.list-heading {
  font-family: var(--font-sigmarone-regular);
  font-size: calc(1.5vw + 2rem);
  color: var(--color-secondary-1-1);
}

.list-description {
  margin-bottom: var(--size-l);
}

.tilbud {
  color: var(--color-secondary-2-3);
  font-style: italic;
  margin-bottom: var(--size-l);
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  ph-shop-item {
    width: 100% !important;
  }
}
