@import "./../../../main.scss";
@import "./../../artikler/scss/article-page.scss";

:root {
  --article-banner-image: url(/src/img/projekter/bygge-projekt/w1-banner.webp);
}

article img {
  display: none;
  width: 100%;
  object-fit: cover;
  position: fixed;
}
